.container-fluid {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-fixed-top {
  position: relative;
  margin-bottom: 20px;
}

.navbar .nav > li > a {
  padding: 11px 15px 10px;
}