<div class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="/">jobsnapper.co.nz</a>
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse">
        <ul class="nav pull-right">
          <% if employer_signed_in? %>
            <%= render partial: "shared/navigation/employer" %>
          <% elsif candidate_signed_in? %>
            <%= render partial: "shared/navigation/candidate" %>
          <% else %>
            <%= render partial: "shared/navigation/visitor" %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
