<div class="well">
  <select name="" class="select-block input-block-level mbl">
    <option value="0">Region</option>
    <option value="1">Northland</option>
    <option value="2">Wellington</option>
    <option value="3">Central Otage</option>
    <option value="4">Dunedin</option>
  </select>
  <select name="" class="select-block input-block-level mbl">
    <option value="0">City</option>
    <option value="1">Auckland</option>
    <option value="2">Wellington</option>
    <option value="3">Christchurch</option>
    <option value="4">Dunedin</option>
  </select>
  <select name="" class="select-block input-block-level mbl">
    <option value="0">Category</option>
    <option value="1">UX</option>
    <option value="2">Design</option>
    <option value="3">Catering</option>
    <option value="4">Other</option>
  </select>
  <input type="text" class="input-block-level"/>
  <button class="btn btn-block mtm">Search</button>
</div>