<ul class="nav nav-list nav-list-vivid">
  <li class="nav-header">Job categories</li>
  <li>
    <a href="#fakelink">
      UX Design
      <span class="nav-counter">19</span>
    </a>
  </li>
  <li class="active">
    <a href="#fakelink">
      Photography
      <span class="nav-counter">130</span>
    </a>
  </li>
  <li>
    <a href="#fakelink">
      Art
      <span class="nav-counter">9</span>
    </a>
  </li>
  <li class="divider"></li>
  <li class="nav-header">Condition</li>
  <li>
    <a href="#fakelink">
      Brand new
      <span class="nav-counter">69</span>
    </a>
  </li>
  <li>
    <a href="#fakelink">
      Read-used
      <span class="nav-counter">21</span>
    </a>
  </li>
  <li>
    <a href="#fakelink">
      Work-used
      <span class="nav-counter">40</span>
    </a>
  </li>
</ul>