<div class="row-fluid">
  <div class="span6">
    <div class="page-header">
      <h4>Are you a student looking for work?</h4>
    </div>
    <div class="media">
      <div class="pull-left" style="margin-right: 20px;">
        <img class="media-object" src="/assets/icons/mortarboard.png">
      </div>
      <div class="media-body">
        <p>Great, you've come to the right place, jobsnapper.co.nz - where students find work.</p>
      </div>
    </div>

    <div class="media">
      <div class="pull-right mtl" style="margin-left: 20px;">
        <img class="media-object" src="/assets/icons/money.png">
      </div>
      <div class="media-body">
        <p>Are you struggling with your finances while studying? No problem, jobsnapper has got your back.</p>
        <p>Part-time, full-time or casual we've got you covered with easiest platform to find and apply for jobs you'll be living the dream in no time.</p>
      </div>
    </div>

    <div class="media">
      <div class="pull-left" style="margin-right: 20px;">
        <img class="media-object" src="/assets/icons/graph.png">
      </div>
      <div class="media-body">
        <p>Our current job seekers are proven to be 110% happier using jobsnapper than all other job boards. FACT.</p>
      </div>
    </div>
  </div>

  <div class="span6">
    <div class="page-header">
      <h4>Or an employer needing staff?</h4>
    </div>
    <div class="media">
      <div class="pull-left" style="margin-right: 20px;">
        <img class="media-object" src="/assets/icons/goal.png">
      </div>
      <div class="media-body">
        <p>Are you tired finding suitable candidates to employ? Is it almost a job in itself finding staff?</p>
      </div>
    </div>

    <div class="media">
      <div class="pull-right mtl" style="margin-left: 20px;">
        <img class="media-object" src="/assets/icons/clipboard.png">
      </div>
      <div class="media-body">
        <p>Here at job snapper we listen and understand what you need in a student job board. We're here to make you happy!</p>
        <p>List your job quickly and easily then sit back and let students apply.</p>
      </div>
    </div>

    <div class="media">
      <div class="pull-left" style="margin-right: 20px;">
        <img class="media-object" src="/assets/icons/girl.png">
      </div>
      <div class="media-body">
        <p>The top 3 applicants will appear at the top of your shortlist. Isn't that great? No more time wasting, no more hassles - just great staff.</p>
      </div>
    </div>
  </div>
</div>

<!-- Begin MailChimp Signup Form -->
<div class="row-fluid mtl">
  <div id="mc_embed_signup" class="hero-unit span8 offset2" style="margin-top: 30px;">
    <h5 class="mtn">If that sounds good then stay tuned!</h5>
    <p>Thanks for checking out jobsnapper.co.nz, you're awesome! I'm going to make it easy for businesses to find and employ students and youth. Sign up to stay in the loop for when we launch.</p>
    <form action="http://jobsnapper.us7.list-manage2.com/subscribe/post?u=7d816b2bc75bba1a32aee8ce4&amp;id=a329b673cd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate mbn mtl form-inline" target="_blank" novalidate>
      <input type="email" value="" name="EMAIL" class="email input-xlarge" id="mce-EMAIL" placeholder="Your email address" required>
      <input type="submit" value="Hurray!" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-embossed btn-primary">
    </form>
    <p class="mtl mbn">P.S Are you an employer? Fill out this <a href="http://www.surveymonkey.com/s/RDQFFDY"><strong>super fun survey</strong></a> so I can build something that works just for you.</p>
  </div>
</div>
<!--End mc_embed_signup-->
