<div class="span6 offset3">
  <h1>Sign up for our launch date!</h1>
  <p>Thanks for checking out jobsnapper.co.nz, you're awesome! We're going to make it easy for businesses to find and employ students. Sign up to stay in the loop for when we launch.</p>
</div>
<!-- Begin MailChimp Signup Form -->
<div class="row-fluid">
  <div id="mc_embed_signup" class="well span6 offset3">
    <form action="http://jobsnapper.us7.list-manage2.com/subscribe/post?u=7d816b2bc75bba1a32aee8ce4&amp;id=a329b673cd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate mbn" target="_blank" novalidate>
      <label for="mce-EMAIL">Please enter your email</label>
      <input type="email" value="" name="EMAIL" class="email input-block-level input-large mbn" id="mce-EMAIL" placeholder="Your email address" required>
      <input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button  btn btn-info"></div>
    </form>
  </div>
</div>
<!--End mc_embed_signup-->
