<!-- Begin MailChimp Signup Form -->
<div class="row-fluid">
  <div id="mc_embed_signup" class="hero-unit span6 offset3 mtl">
    <h2 class="mtn">Stay tuned!</h2>
    <p>Thanks for checking out jobsnapper.co.nz, you're awesome! We're going to make it easy for businesses to find and employ students and youth. Sign up to stay in the loop for when we launch.</p>
    <form action="http://jobsnapper.us7.list-manage2.com/subscribe/post?u=7d816b2bc75bba1a32aee8ce4&amp;id=a329b673cd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate mbn mtl" target="_blank" novalidate>
      <div class="control-group large">
          <input type="email" value="" name="EMAIL" class="email input-xlarge mbn" id="mce-EMAIL" placeholder="Your email address" required style="margin-left: auto; margin-right: auto; display: block;">
      </div>
      <input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button span7 btn btn-primary" style="margin-left: auto; margin-right: auto; display: block;"></div>
    </form>
  </div>
</div>
<!--End mc_embed_signup-->
