<table class="table">

  <thead>
    <tr>
      <th>Job title</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr class="<%= application_status_class(job.applications.find_by(candidate_id: current_candidate.id)) %>">
        <td><%= job.title %></td>
        <td><%= link_to "View", job_path(job) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
