<div class="control-group">
  <%= f.label :skill_list, "Skills", :class => "control-label" %>
  <div class="controls">
    <%= f.text_field :skill_list, :class => "tagsinput tagsinput-primary" %>
  </div>
</div>