.media.media-job, .well-job {
  padding: 30px;
  text-shadow: none;
  background-color: #F7F9FA;
  border: 2px solid #E9ECEF;
  font-size: 16px;
  line-height: 1.53875em;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}